@tailwind base;
@tailwind components;
@tailwind utilities;

.krona-one-regular {
  font-family: "Krona One", serif;
  font-weight: 400;
  font-style: normal;
}=


.carousel-item img {
  max-width: 100%;
  height: auto;
}
