/* .additional-info {
    padding: 3rem 1rem;
    background: linear-gradient(90deg, #FFFFFF 0%, #A2845E 100%);
    text-align: center;

  }
  
  .info-grid {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .info-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
  }
  
  .info-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .info-card h3 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .info-card p {
    font-size: 1rem;
    color: #666;
  } */