.hero {
  position: relative; /* Necessary to position the overlay pseudo-element */
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  padding: 0 20px;
  color: white;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  transition: background-image 1s ease-in-out; /* Smooth transition */
}

/* Overlay with reduced opacity */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Inherit the background image */
  opacity: 0.7; /* 70% opacity */
  z-index: -1; /* Place the overlay behind the content */
}

.hero-content {
  max-width: 600px;
  padding-left: 20px;
  margin-top: 10px;
}

.hero-content h1 {
  font-size: 4em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 30px;
  background: linear-gradient(90deg, #A2845E, #FF0A00, #000000);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background: linear-gradient(90deg, #A2845E, #FF0A00, #000000);
}
