.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.6); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  gap: 25px;
  margin: 0;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f0e1c0;
  transform: scale(1.1);
}

.login-btn {
  padding: 10px 20px;
  background: linear-gradient(90deg, #A2845E, #FF0A00, #000000);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(90deg, #FF0A00, #A2845E, #808080);
  transform: scale(1.1);
}
